.wrapper {
  width: 500px;
  margin: auto;
  margin-top: 100px;
}

.title,
.text {
  margin: 0;
  padding: 0;
  text-align: center;
}

.title {
  line-height: 1.7;
  font-size: var(--font-size-large);
  text-shadow: 0 0 2px var(--color-black);
  color: var(--theme-default-header);
  transition: color var(--transition);
}

.text {
  display: block;
  margin: 0 10px;
  padding: 7px 10px;
  color: var(--color-white);
  text-align: center;
  font-family: var(--font-family-main);
  font-weight: var(--font-bold);
  text-shadow: var(--text-shadow-yellow);
  font-size: var(--font-size-header);
}
